In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../processed/data.csv', delimiter=';')
df_synopsis = pd.read_csv('../processed/final_data.csv', delimiter=';')

In [5]:
df

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors
0,tt0038086,Shiva und die Galgenblume,Shiva und die Galgenblume,0,1993.0,\N,Thriller,7.0,26.0,Hans Steinhoff
1,tt0079644,November 1828,November 1828,0,2001.0,140,"Drama,War",7.3,35.0,Teguh Karya
2,tt0084015,Goodbye Paradise,Goodbye Paradise,0,1991.0,101,Drama,7.2,43.0,"Tim Savage, Dennis Christianson"
3,tt0084660,Sentinel,Sentinel,0,1993.0,26,"Action,Adventure",7.1,12.0,Mark Roper
4,tt0084870,Memories and Confessions,Visita ou Memórias e Confissões,0,1993.0,73,"Biography,History",7.1,379.0,Manoel de Oliveira
...,...,...,...,...,...,...,...,...,...,...
72893,tt9916170,The Rehearsal,O Ensaio,0,2019.0,51,Drama,7.0,7.0,Tamar Guimaraes
72894,tt9916192,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019.0,53,Biography,7.6,16.0,Pierre-Henri Gibert
72895,tt9916460,Pink Taxi,Pink Taxi,0,2019.0,\N,Comedy,9.4,18.0,Gabriel Athanasiou
72896,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,123,Drama,8.3,6.0,Azhar Kinoi Lubis
72897,tt9916730,6 Gunn,6 Gunn,0,2017.0,116,\N,8.4,6.0,Kiran Gawade

In [6]:
df_synopsis

          tconst                                           synopsis
0      tt0038086  \nDetective Dongen, known as Shiva, exposes a ...
1      tt0079644  \nA group of Javanese villagers are driven to ...
2      tt0084015  \nIt's the last night at the Paradise Inn, a s...
3      tt0084660                                                NaN
4      tt0084870  \nA docu-drama that follows Manoel de Oliveira...
...          ...                                                ...
72893  tt9916170  \nIsa, a young artist invited to propose a pro...
72894  tt9916192                                                NaN
72895  tt9916460  \nOne day Apostolis decides that he wants to b...
72896  tt9916538  \nAgra City, India, will be the witness to the...
72897  tt9916730  \nVidya Sarvade is a topper of Adarsh Vidyalay...

[72898 rows x 2 columns]

In [7]:
final_df = df.merge(
  df_synopsis, on='tconst', how='left')

In [8]:
final_df

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,synopsis
0,tt0038086,Shiva und die Galgenblume,Shiva und die Galgenblume,0,1993.0,\N,Thriller,7.0,26.0,Hans Steinhoff,"\nDetective Dongen, known as Shiva, exposes a ..."
1,tt0079644,November 1828,November 1828,0,2001.0,140,"Drama,War",7.3,35.0,Teguh Karya,\nA group of Javanese villagers are driven to ...
2,tt0084015,Goodbye Paradise,Goodbye Paradise,0,1991.0,101,Drama,7.2,43.0,"Tim Savage, Dennis Christianson","\nIt's the last night at the Paradise Inn, a s..."
3,tt0084660,Sentinel,Sentinel,0,1993.0,26,"Action,Adventure",7.1,12.0,Mark Roper,NaN
4,tt0084870,Memories and Confessions,Visita ou Memórias e Confissões,0,1993.0,73,"Biography,History",7.1,379.0,Manoel de Oliveira,\nA docu-drama that follows Manoel de Oliveira...
...,...,...,...,...,...,...,...,...,...,...,...
72893,tt9916170,The Rehearsal,O Ensaio,0,2019.0,51,Drama,7.0,7.0,Tamar Guimaraes,"\nIsa, a young artist invited to propose a pro..."
72894,tt9916192,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019.0,53,Biography,7.6,16.0,Pierre-Henri Gibert,NaN
72895,tt9916460,Pink Taxi,Pink Taxi,0,2019.0,\N,Comedy,9.4,18.0,Gabriel Athanasiou,\nOne day Apostolis decides that he wants to b...
72896,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,123,Drama,8.3,6.0,Azhar Kinoi Lubis,"\nAgra City, India, will be the witness to the..."
72897,tt9916730,6 Gunn,6 Gunn,0,2017.0,116,\N,8.4,6.0,Kiran Gawade,\nVidya Sarvade is a topper of Adarsh Vidyalay...

In [ ]:
final_df.to_csv('data.csv', index=False, sep=';')